@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url("fonts.css");

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


body {
    background: url("../img/loginbg.jpg");

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

after { clear: both; }

#login {
    position : absolute;    
    width    :320px;
    left     : 45%;
    top      : 45%;
    margin-left : -100px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}

#login form {
    margin: auto;
    padding: 22px 22px 22px 22px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}
#login form p{
    text-align: center;
    font-family:BElham;
    font-size: 20px;
    
}
#login form .inp {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    border-right: 3px solid #434a52;
    color: #606468;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
}

#login form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 50px;
    font-family: BYekan;
}

#login form input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 50px;
    font-family: BYekan;
}

#login form input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-family: BElham;
    font-size: 20px;
}
#login form input[type="submit"]:hover {
    background: #16aa56;
}

.enter {
    position: relative;
    text-align: center;
    
}

.enter:after {
    font-family: FontAwesome;
    content: "\f090"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 13px;
    color: white;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 1px;
    pointer-events: none;
    margin-right: 160px;
}